@import "~include-media/dist/_include-media.scss";

.candidates {
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    .container,
    .container-fluid {
        display: grid;
        grid-template-columns: repeat( 7, minmax( calc( ( 100vw - 4rem - 60px ) / 7 ), 1fr) );
        grid-template-rows: repeat( 7, minmax( calc( ( 100vh - 45px - 70px - 90px - 6rem ) / 7 ), 1fr ) ); // minmax( 1fr, calc( ( 100vh - 45px - 70px - 90px ) / 7 ) ) 
        align-items: start;
        grid-auto-flow: column;
        flex-grow: 1;
        gap: 10px;
    }
    > .div {
        background-color: hsla(0,0%,0%,0.1);
    }

}

@include media("<desktop") {}
@include media("<=tablet") {}
@include media("<=phone") {}