@import "~include-media/dist/_include-media.scss";

.successPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    > .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3rem;
        h1 {
            font-size: 2rem;
            background-color: hsla( var(--color-dark-h),var(--color-dark-s), 95%, 1 );
            padding: 1rem 2.5rem;
            border-radius: var(--border-radius);
            margin-bottom: 2rem;
        }
        > .icon {
            height: 32px;
            width: 32px;
            padding: 1rem;
            background-color: hsla( var(--color-dark-h),var(--color-dark-s), 95%, 1 );
            border-radius: 100%;
        }
        > .share {
            max-width: 450px;
            margin: 2rem 0;
            > .icons {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 5px;
            }
        }
    }
}

@include media("<desktop") {}
@include media("<=tablet") {}
@include media("<=phone") {}