@import "~include-media/dist/_include-media.scss";

.footer {

    height: 90px;
    padding: 1rem 0;
    display: flex;

    &.dark {
        color: hsla(var(--color-light-h), var(--color-light-s), var(--color-light-s), 0.7);
        background-color: hsla(var(--color-dark-h), var(--color-dark-s), 40%, 1);
        .container,
        .container-fluid {
            .center,
            .left, 
            .right {
                .btn {
                    color: hsla( var(--color-light-h),var(--color-light-s), var(--color-light-l), 0.6 );
                    border-color: hsla( var(--color-light-h),var(--color-light-s), var(--color-light-l), 0.6 );
                    &:hover {
                        color: hsla( var(--color-dark-h),var(--color-dark-s), var(--color-dark-l), 1 );
                        border-color: hsla( var(--color-light-h),var(--color-light-s), var(--color-light-l), 1 );
                    }
                }
            }
            .center {
                .btn {
                    color: hsla( var(--color-light-h),var(--color-light-s), var(--color-light-l), 1 );
                }
            }
        }

    }
    &.light {
        color: hsla(var(--color-dark-h), var(--color-dark-s), var(--color-dark-s), 0.7);
        background-color: hsla(var(--color-light-h), var(--color-light-s), 90%, 1);
        .container,
        .container-fluid {
            .center,
            .left, 
            .right {
                .btn {
                    color: hsla( var(--color-dark-h),var(--color-dark-s), var(--color-dark-l), 0.6 );
                    border-color: hsla( var(--color-dark-h),var(--color-dark-s), var(--color-dark-l), 0.6 );
                    background-color: hsla(var(--color-light-h), var(--color-light-s), var(--color-light-l), 0.6);
                    &:hover {
                        color: hsla( var(--color-light-h),var(--color-light-s), var(--color-light-l), 1 );
                        border-color: hsla( var(--color-dark-h),var(--color-dark-s), var(--color-dark-l), 1 );
                        background-color: hsla(var(--color-dark-h), var(--color-dark-s), var(--color-dark-l), 1);
                    }
                }
            }
            .center {
                .btn {
                    color: hsla( var(--color-dark-h),var(--color-dark-s), var(--color-dark-l), 1 );
                }
            }
        }

    }

    .container,
    .container-fluid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        .center,
        .left, 
        .right {
            .btn {
                .icon {
                    width: 42px;
                    height: 42px;
                    transition: var(--transition-fast);
                }
            }
            > p{
                font-size: 1rem;
                margin-top: 0.2rem;
                margin-bottom: 0;
            }
        }
        .left, 
        .right {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
            .btn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &.voidVote{
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                }
            }
        }
        .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btn {
                font-size: 1.5rem;
                line-height: 2rem;
                padding: 0.5rem 2rem;
                font-weight: regular;
                text-transform: uppercase;
            }
        }
        .left {
            justify-items: start;
        }
        .right {
            grid-template-columns: 1fr;
            justify-items: end;
        }
    }
}
.swap {
    .footer {
        .left {
            display: flex;
        }
    }
}

@include media("<desktop") {}
@include media("<=tablet") {
}
@include media("<=phone") {
}